* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.body {
  background-color: rgba(0, 0, 0, 0.8);
}
.main {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(210, 214, 214);
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  letter-spacing: 6px;
  padding: 70px 0 70px 0;
}
.welcome {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 500px;
  line-height: 5rem;
  letter-spacing: 6px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

span {
  color: rgb(165, 20, 20);
}
.btn {
  padding: 10px;
  background-color: rgb(165, 20, 20);
  border-radius: 4px;
  color: rgb(210, 214, 214);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
}
.wrapp {
  height: 8vh;
  min-width: 100%;
}
.game {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease 0.5s;
  /* display: none; */
}
.score {
  position: absolute;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
}
p {
  font-size: 24px;
}
.player-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
}
.computer-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
}
.hands {
  position: absolute;
  top: 40vh;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}
.value {
  padding-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
}

.game-btn {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20vh;
}
.game-btn button {
  margin: 50px;
}
.img {
  width: 6rem;
  height: 6rem;
  /* background-color: bisque; */
}
.computer img {
  transform: rotateY(180deg);
}
.movesLeft {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -2rem;
}
.result {
  position: absolute;
  top: 28rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.result h1 {
  padding-bottom: 2rem;
  letter-spacing: 0.4rem;
}
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}
div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
.btn1 {
  z-index: 2;
}

@keyframes playerAnimation {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes computerAnimation {
  0% {
    transform: rotateY(180deg) translateY(0);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0);
  }
}

/* make a game responsive */

@media screen and (max-width: 700px) {
}
